
<div th:fragment="footer"></div>

<footer class="pt-1 my-md-1 pt-md-1 border-top">
    <div class="row">
        <div class="col-12 col-md">
            <small class="d-block mb-3 text-body-secondary"></small>
        </div>
        <div class="col-6 col-md">
            <h5>Company</h5>
            <ul class="list-unstyled text-small">
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Team</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Career</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Departments</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Products</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Partners</h5>
            <ul class="list-unstyled text-small">
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Romania</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Ucraine</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Moldova</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Russia</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Contact</h5>
            <ul class="list-unstyled text-small">
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Instagram</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Facebook</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Telegram</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Whatsapp</a></li>
            </ul>
        </div>
    </div>
</footer>

<div/>





