


<div th:fragment="header">







  <div class="d-flex flex-column flex-md-row align-items-center pb-1 mb-1 border-bottom">
    <!-- Логотип -->
    <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none">
      <img src="/logo.jpg" alt="Логотип SelivestruGroup" height="50"> <!-- Путь к логотипу -->
      <span class="fs-2">SelivestruGroup</span>
    </a>

    <nav class="d-inline-flex mt-2 mt-md-2 ms-md-auto">
      <a class="me-4 py-3 link-body-emphasis text-decoration-none fs-4" href="/">Home</a>
      <a class="me-4 py-3 link-body-emphasis text-decoration-none fs-4" href="/aboutus">About us</a>
      <a class="me-4 py-3 link-body-emphasis text-decoration-none fs-4" href="/price">Price</a>
      <a class="me-4 py-3 link-body-emphasis text-decoration-none fs-4" href="/blog">Blog</a>
    </nav>
  </div>
</div>

